TEMA 1 INTRODUCCIÓN A LOS LENGUAJES DE MARCAS. XML/practica2/ej1/ej1.dtd

<!ELEMENT relacion (persona)*>
    <!ELEMENT persona (nombre, email*, parentesco?)>
            <!ATTLIST persona sexo CDATA #IMPLIED>
            <!ATTLIST persona carnet ID #REQUIRED>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT parentesco EMPTY>
            <!ATTLIST parentesco tipo CDATA #REQUIRED>